.mainContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cameraContainer {
  aspect-ratio: 4/3;
  height: max(300px, 50vh);
  overflow: hidden;
  border-radius: 10px;
  border: 1px dashed;
  max-width: 100%;
}

.cameraContainer video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  gap: 10px;
}
